.progressbar-container {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.loading {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
}

.page-title {
	margin-bottom: 1rem;
}
.page-content {
	position: relative;
}

.home-tile {
	border-radius: 4px;
	padding: 1.25rem 2.5rem 1.25rem 1.5rem;
}

.tile .title {
	text-decoration: none;
}

.tile.is-primary {
    background-color: #00d1b2;
    color: #fff;
}
.tile.is-primary a {
    color: #fff;
}

.title.is-success {
	background-color: #48c774;
	color: #fff;
}

.tile.is-success a {
	color: #fff;
}

.tile.is-info {
    background-color: #3298dc;
    color: #fff;
}

.tile.is-info a {
	color: #fff;
}

.tile.is-warning {
    background-color: #ffdd57;
    color: rgba(0,0,0,.7);
}

.tile.is-warning a {
    color: rgba(0,0,0,.7);
}
